:root {
  --light-color: rgb(255, 255, 255);
  --logo-color: rgb(255, 38, 0);
  --logo-hover-color: rgb(0, 0, 255);
  --p5-continer-background-color: rgb(0, 0, 0);
}

a{
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 8px;
  height: 3px;
  background: transparent;
  /* background: #cccccc;
  */
}
/* Track */
::-webkit-scrollbar-track {
  background: #eee;
}
/* Handle */
::-webkit-scrollbar-thumb {
  z-index: 10 !important;
  background: #f00;
  cursor: pointer;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f00;
}

.display-flex {
  display: flex;
}

/* navigation style was there:-
*/
.nav-container {
  width: 100%;
  height: 100%;
  background-color: var(--light-color);
  font-weight: 100;
  color: black;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;

  .logo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--logo-color);
    cursor: pointer;
    transition: ease-in-out 0.2s;
  }

  .logo:hover {
    color: var(--logo-hover-color);
  }
}

/* hero section style was there:-
*/

.hero-section {
  width: 100%;
  height: 60rem;

  .hero-size {
    width: 50%;
    overflow: hidden;
  }

  .p5-container {
    background-color: var(--p5-continer-background-color);
    background-image: url(https://sothebys-com.brightspotcdn.com/6f/86/833c01cd42c6aa1dfda6948fe5e1/fidenza.jpg);
    background-size: cover;
    background-position: center;
  }

  .hero-container {
    background-color: var(--logo-hover-color);

    .hero {
      width: 100%;
      margin: 1%;
      margin-left: 2%;
      color: white;
      font-size: 6rem;
      font-weight: 600;
      font-kerning: var(--light-color);
    }

    .hero-buttons {
      margin: 2%;
      margin-left: 2%;
      display: flex;
      gap: 5%;
    }

    .hero-button {
      display: inline-block;
      font-size: 1.5rem;
      cursor: pointer;
      color: var(--logo-hover-color);
      background: rgba(255, 255, 255, 0.903);
      padding: 8px 20px;
      border-radius: 30px;
      min-width: 160px;
      text-align: center;
      border: 2px solid;
      font-weight: normal !important;
      transition: all 0.2s ease;
    }

    .hero-button:hover {
      border: solid 2px white;
    }
  }
}

/* About section style was there:-
*/

.about-section {
  width: 100%;
  max-width: 1400px;
  height: 100vh;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* border: solid 2px black; */

  .about-title {
    margin-top: 1%;
    padding: 1%;
    font-size: 3rem;
    font-weight: 500;
    font-style: italic;
    color: black;
  }

  .about-container {
    width: inherit;
    height: inherit;
    display: flex;

    .about-sidebar {
      width: 20%;
      height: inherit;
      /* background-color: black; */
    }

    .about-hero {
      width: 80%;
      height: inherit;
      /* background-color: blue; */
    }
  }
}

/* Friends section style was there:-
*/

.friend-section {
  width: 100%;
  height: 100vh;
  background-color: var(--logo-color);

  .friend-container {
    width: 100%;
    max-width: 1400px;
    height: 100vh;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    .friend-title {
      padding: 3%;
      cursor: pointer;
      place-content: center;
      display: flex;
      justify-content: space-between;
      color: black;
      font-size: 5rem;
      font-weight: 300;
      z-index: 10;
      cursor: pointer;
    }

    .friend-t {
      transition: all 0.2s;
      text-shadow: 0 0 3px #17c400;
    }

    .friend-t:hover {
      color: rgb(0, 127, 0);
    }

    .friend-hero {
      display: flex;
      justify-content: space-between;
      gap: 0.6%;

    }
  }
}

/* Friend-Item style was there:-
*/

.friend-item-section {

  .friend-image {
    width: inherit;
    height: 55vh;
    cursor: pointer;
    background-color: #eee;
    background-image: url(https://assets.teenvogue.com/photos/57debacb046b3a2e2a73646b/16:9/w_2560%2Cc_limit/9.18_MBB_01GettyImages-607417562_lede.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
    transition: all 0.5s;
  }

  .friend-image:hover {
    filter: grayscale(0);
  }

  .friend-bio {
    font-size: 2rem;
    font-weight: 500;
    color: black;
  }
}